    
    
    
    
    
    
    .header__title {
        font-size: 4rem;
        line-height: 42px;
    }
    .header__text {
        font-size: 2rem;
        line-height: 24px;
    }
 
    .secction-1__title {
        font-size: 4rem;
        line-height: 42px;
    }
    .secction-1__text {
        font-size: 2rem;
        line-height: 24px;
    }
    .secction-1__tablas {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        padding: 16px;
        column-gap:  32px;
        
    }
    .section-1__Tabla{
        display: flex;
        flex-flow: column;
        align-content: center;
        width: 30%;
        min-width: 240px;
        text-align: center;
        gap: 16px;
    }

    .table {
        
        width: 100%;
    }
    .secction-2__card {
        width: 40%;
    }
    .card {
        min-width: 223px;
        padding: 24px;
    }
    

    .secction-2__cards {
        display: grid;
        grid-template-columns: 0.8fr 0.8fr;
        grid-template-rows: 0.8fr 0.8fr;
        gap: 16px;
        justify-items: center;
        align-items: center;
    }
    .secction-2__card{
        width: 100%;
    }
    .secction-3 {
        margin:  64px 0;
    }
    .seccion-3__cards{
        display: flex ;   
        width: 100%;
        flex-wrap: wrap;
        align-items: center;
        padding: 16px;
        gap: 32px;
    }
    #card-1{
       opacity: 1;
    }
    #card-2{
        opacity: 1;
    }
    #card-3{
        opacity: 1;
    }
    .precio {

    }
    .button-slide {
        display: none;
    }
    footer {
        gap: 32px;
        justify-content:space-around;
        align-items: center;
        padding: 32px;
    }
    footer a{
        font-size: 2rem;
        line-height: 24px;
        text-decoration: none;
        color: white;
    }
    footer img {
        width: 166.8px;
        height: 111.2px;
    }