* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;

    Font-size: 62.5%;
    Line-height: 18px;
    Line-height: 98.75%;
}
body {
    background-color: var(--Off-White);
}






@import "variables.scss";
@import "footer.scss";


