/*
    1. Posicionamiento
    2. Modelo de caja
    3. Tipografia 
    4. Visuales
    5. Otros
*/

/* 
     Apuntes:
     font : font 62.5%
     bem:
     
     * El nombre del bloque describe su propósito ("¿Qué es?", menuo button), no su estado ("¿Qué aspecto tiene?", redo big).
     
     * Tampoco debe usar etiquetas o IDselectores CSS cuando use BEM.

*/

:root {
    --Bitcoin-Orange: #F7931A;
    --Soft-Orange: #FFE9D4;
    --Secondary-Blue: #1A9AF7;
    --Soft-Blue: #E7F5FF;
    --Warm-Black: #201E1C;
    --Warm-black-1: #282623;
    --Grey: #BABABA;
    --Off-White: #FAF8F7;
    --Just-White: #FFFFFF;
    --Shadow: 0 4px 8px 0 #59491E29;
    --text:#757575;

}

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;

    Font-size: 62.5%;
    Line-height: 18px;
    Line-height: 98.75%;
}
body {
    background-color: var(--Off-White);
}

header div {
    background-image: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%) ;
    position: relative;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
    padding: 19px 32px 19px;
    width: 100%;
    height: 50vh; 
}

.header__title{
    color: white;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 26px;

}
@keyframes opacitys {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.header__text{
    color: #FFE9D4;
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;
}
.seccion-1 {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    gap: 16px;
    align-items: center;
    margin: 64px 14px;

}
.secction-1__title{
    color: var(--Warm-Black);
    margin: 24px 0;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
    
}
.secction-1__table-title {
    color: #FF9536;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 23px;
}

.secction-1__text{
    color: #757575;
    text-align: start;
    font-size: 1.4rem;
    font-weight: 500;
}
.param2__secction2 {
    padding: 16px 0;
    color: #757575;
    text-align: center;
    font-size: 0.9rem;
}

.button--header {
    color: var(--Warm-Black);
    border-radius: 4px;
    padding: 15px;
    position: absolute;
    bottom: -5%;
    background-color: #FAF8F7;
    box-shadow: var(--Shadow);
    font-size: 1.4rem;
    font-weight: 700;
}


.secction-2{
    background-color: var(--Warm-Black);
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 64px 16px;
    gap: 16px;
}
.secction-2__title {
    font-size: 2.4rem;
    color: var(--Just-White);
    font-weight: 700;
    line-height: 26px;
    text-align: center;
}
.secction-2__card{
    display: flex;
    flex-flow: column wrap;
    align-items:flex-start;
    justify-content: space-between;
    background-color: var(--Warm-black-1);
    margin:  14px;
    padding: 16px 32px;
    height: 100%;
    gap: 16px;
}
.secction-2__card-title {
    font-size: 1.8rem;
    color: var(--Just-White);
    font-weight: 700;
    line-height: 18px;
}
.secction-2__card-text {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 18px;
    color: var(--Grey);
}
.secction-3 {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 16px;
    gap: 32px;

}
.secction-3__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
}
.seccion-3__cards {
    display: grid;
    grid-template-columns: 0.9fr;
    grid-template-rows: 0.9fr;
    justify-content: center;
    width: 190px;
    
}
#card-1{
    grid-area: 1/2/1/2;
    opacity: 0;
}
#card-2{
    grid-area: 1/2/1/2;
}
#card-3{
    grid-area: 1/2/1/2;
    opacity: 0;
}
.seccion-3__title {
    font-size: 2.4rem;
    color: var(--Warm-Black);
    font-weight: 700;
    line-height: 26px;
    text-align: center;
}
.seccion-3__text {
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;
    line-height: 18px;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: var(--Shadow);
    padding: 16px 8px;
    border-radius: 8px;
    gap: 16px;
    min-width: 196px;
    
    animation-duration: 2s;
    
}
.card__title {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 18px;
    color: var(--Warm-black-1);
}
.card__text {
    font-size: 1.2rem;
    text-align: center;
    font-weight: 500;
    line-height: 15px;
    color: var(--Grey);
}
.precio {
    font-size: 3.35rem;
    display: inline;
}
.card__button {
    background-color: var(--Just-White);
    border: 2px solid var(--Bitcoin-Orange);
    font-size: 1.4rem;
    padding: 8px 16px;
    border-radius: 4px;
    width: 100%;
}
.card-container{
    position: absolute;
    top: -9%;
    background-color: var(--Bitcoin-Orange);
    color: var(--Off-White);
    padding: 8px;
    border-radius: 8px;
}
.card-container__text {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--Just-White);
    text-align: center;
}
.button-slide {
    background-color: var(--Off-White);
}

footer {
    background-color: var(--Bitcoin-Orange);
    width: 100%;
    height: 20vh;
    display: flex;
    flex-flow: row wrap;
    gap: 32px;
    justify-content: center;
    align-items: center;
    padding: 32px;
}
.footer-links {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: var(--Just-White);
}
footer a{
    font-size: 1.4rem;
    text-decoration: none;
    color: white;
}
.table {
    box-shadow: var(--Shadow);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 19px;
    color: var(--Grey);
    table-layout: fixed;
    width: 55%;
    height: 100%;
    border-collapse: collapse;
}

td {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 19px;
    color: var(--Grey);
    text-align: center;
    padding: 8px ;
}
p{
    display: inline;
    font-size: 1.4rem;
    
}
