$Bitcoin-Orange: #F7931A;
$Soft-Orange: #FFE9D4;
$Secondary-Blue: #1A9AF7;
$Soft-Blue: #E7F5FF;
$Warm-Black: #201E1C;
$Warm-black-1: #282623;
$Grey: #BABABA;
$Off-White: #FAF8F7;
$Just-White: #FFFFFF;
$Shadow: 0 4px 8px 0 #59491E29;
$text:#757575;

@keyframes opacitys {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
